.header-basic{padding-left:220px;height:83px;box-sizing:border-box;padding-top:21px;border-bottom:1px solid #bdbdbd}.toolbar{background-color:#000;padding-left:100px;border-bottom:1px solid red}.rotate{-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}
/*# sourceMappingURL=main.21b794c0.chunk.css.map */